h1 {
    font-size: 3rem;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    padding: 15%;
}
